* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
  width: 200px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;
  background: #ebebeb;
  color: #101010;
}
body.dark-mode {
  background: #101010;
  color: #ebebeb;
}

div#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  flex: 1;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 70px;
  background: #cacaca;
  color: #101010;
  box-shadow: 0 -5px 3px rgba(0, 0, 0, 0.1019607843);
}
.page-footer.dark-mode {
  background: #222222;
  color: #ebebeb;
}
.page-footer p {
  margin: 0 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
}
.wrapper h1 {
  align-self: flex-start;
  margin: 20px 100px;
  font-size: 2.5rem;
}

#navigation-hamburger-label {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background: #cacaca;
  color: #101010;
  font-size: 1.5em;
  text-align: center;
  border-radius: 50%;
}
#navigation-hamburger-label.dark-mode {
  background: #222222;
  color: #ebebeb;
}

#navigation-hamburger-input {
  display: none;
}

.navigation-header {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 100px;
  background: #cacaca;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1019607843);
}
.navigation-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  height: 80px;
  list-style: none;
}
.navigation-header a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  color: #101010;
  text-decoration: none;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 200ms;
}
.navigation-header a:-moz-any-link {
  text-decoration: none;
}
.navigation-header a:any-link {
  text-decoration: none;
}
.navigation-header li {
  height: 100%;
  transition: 200ms;
}
.navigation-header li:hover {
  background: #b1b1b1;
  transition: 200ms;
}
.navigation-header li:hover a {
  background: linear-gradient(105deg, #d2c91b, #ce2424) text;
  color: transparent;
}
.navigation-header.closed {
  display: none;
}
.navigation-header.dark-mode {
  background: #222222;
}
.navigation-header.dark-mode a {
  color: #ebebeb;
}
.navigation-header.dark-mode li:hover {
  background: #3c3c3c;
  transition: 200ms;
}
.navigation-header.dark-mode li:hover a {
  background: linear-gradient(105deg, #d2c91b, #ce2424) text;
  color: transparent;
}

.exercise-block {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 10;
  transition: 200ms;
}
.exercise-block * {
  border-radius: 20px;
}
.exercise-block img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.exercise-block span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 2rem;
  color: transparent;
  text-align: center;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 200ms;
}
.exercise-block:hover {
  scale: 1.05;
  cursor: pointer;
  transition: 200ms;
}
.exercise-block:hover span {
  visibility: visible;
  color: #ebebeb;
  background-color: rgba(0, 0, 0, 0.2745098039);
}

.exercises-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.exercise-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto 0;
  width: 80%;
  min-width: 400px;
}
.exercise-container #left, .exercise-container #right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
.exercise-container #right p {
  margin: 0 20px;
  text-align: justify;
}
.exercise-container img {
  width: 400px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.exercise-container #heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.exercise-container h1 {
  margin: 5px 0;
  padding: 0;
  font-size: 2rem;
}
.exercise-container #equipment {
  color: #5d5d5d;
  font-size: 1rem;
  text-align: start;
}
.exercise-container .dark-mode#equipment {
  color: #9f9f9f;
}
.exercise-container #desc {
  margin: 10px 0;
}
.exercise-container #target-muscle {
  color: #767676;
}
.exercise-container .dark-mode#target-muscle {
  color: #858585;
}
.exercise-container .exercise-details {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: start;
}

#dark-mode-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background: #cacaca;
  color: #101010;
  border-radius: 50%;
  transition: 200ms;
}
#dark-mode-toggle:hover {
  filter: brightness(90%);
  scale: 1.05;
  transition: 200ms;
}
#dark-mode-toggle.dark-mode {
  background: #222222;
  color: #ebebeb;
}
#dark-mode-toggle label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#dark-mode-toggle label:hover {
  cursor: pointer;
}
#dark-mode-toggle input[type=checkbox] {
  display: none;
}

@media (orientation: portrait) {
  .wrapper h1 {
    align-self: center;
    text-align: center;
  }
  #navigation-hamburger-label {
    display: flex;
  }
  .navigation-header {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0;
  }
  .navigation-header ul {
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navigation-header a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
  .navigation-header li {
    width: 100%;
  }
  .navigation-header li:hover {
    background: #b1b1b1;
    transition: 200ms;
  }
  .navigation-header li:hover a {
    background: linear-gradient(105deg, #d2c91b, #ce2424) text;
    color: transparent;
  }
  .exercises-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .exercise-container {
    flex-direction: column;
  }
  .exercise-container #left, .exercise-container #right {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */